@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    /* Cores padrão do modo dark para a Tayama */
    --background: 240 10% 4%; /* Mais escuro */ /* Fundo quase preto */
    --foreground: 240 10% 90%; /* Texto claro */

    --card: 240 10% 14%; /* Cinza chumbo pros cards */
    --card-foreground: 240 10% 90%;

    /* O vermelho cereja/escuro para lembrar a Tayama (cabelo) */
    --primary: 347 75% 45%; /* Vermelho carmesim profundo (cabelo Makima/Tayama) */ /* Vermelho cereja */
    --primary-foreground: 0 0% 100%; /* Texto branco em cima do vermelho */

    --muted: 240 10% 20%;
    --muted-foreground: 240 10% 70%;
  }

  * {
    @apply border-[#2a2a30]; /* Bordas chumbo escuro */
  }
  
  body {
    @apply bg-background text-foreground;
    @apply antialiased;
  }
}

